{% load staticfiles %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
            Home
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light color">
            <div style="width:100%">
                <div class="float-md-right float-none">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto btn-group btn-group-toggle">
                            <li class="nav-button btn btn-secondary" id="themeBtn">
                                <a class="nav-link " id="link">Dark Theme</a>
                            </li>
                            <li class="nav-button btn btn-light" id="homeBtn">
                                <a class="nav-link " href="/">Home</a>
                            </li>
                            <li class="nav-item btn btn-light" id="regisBtn">
                                <a data-toggle="modal" type="button" data-target="#regisModal" class="nav-link">Registrasi</a>
                            </li>
                            <li class="nav-button btn btn-light" id="dispBtn">
                                <a class="nav-link " href="/display-subscriber/">Subsribers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="modal fade " id="regisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog bg-dark" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" id="regisForm">
                        {% csrf_token %}
                      <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Name">
                      </div>
                      <div id="alert"></div>
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email@Email">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                      </div>
                </form>
              </div>
              <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="submitBtn" form="regisForm" class="btn btn-primary" disabled>Submit</button>
              </div>
            </div>
          </div>
        </div>
        {% block content %}
        <div class="text-center">
            <img title="G'day Mate. The name's Farras. Tis a pleasure meetin ya." src="{% static 'img/Pic.JPG' %}" height="250vw" width="250vw" class="img-fluid img-thumbnail rounded-circle">
        </div>
        <div class="text-center mt-3 w-50 offset-3">
          <a id="edubtn" class="btn btn-primary w-100" data-toggle="collapse" href="#education">Riwayat Pendidikan</a>
          <div class="collapse w-100" id="education">
            <div class="card card-body bg-white">
              - SD Jakarta Islamic School <br>
              - SMP-IT Al Kahfi <br>
              - SMAN 81 Jakarta <br>
              - Fasilkom UI <br>
            </div>
          </div>
          <a id="organisasibtn" class="btn btn-primary w-100 mt-1" data-toggle="collapse" href="#organisasi">Riwayat Kepanitiaan</a>
          <div class="collapse  w-100" id="organisasi">
            <div class="card card-body bg-white">
              - FUKI Fasilkom UI <br>
              - PMB <br>
              - SIWAK-NG <br>
            </div>
          </div>
        </div>
        {% endblock %}
        <noscript>Sorry, your browser does not support JavaScript</noscript>
        <script src="{% static  'js/jquery-1.12.4.js'%}"></script>
        <script src="{% static  'js/jquery-ui.js'%}"></script>
        <script src="{% static  'js/bootstrap.js'%}"></script>
        <script src="{% static 'js/myapp.js' %}">
        </script>
    </body>
</html>
