{% extends 'base.html' %}

{% block title %}
Subsribers
{% endblock %}

{% block content %}


<button class="btn btn-primary ml-2" id="displayBtn">Tampilkan Subscribersmu</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Registered</th>
      <th scopre='col'>Unsubscribe :(</th>
    </tr>
  </thead>
  <tbody id="display">
  </tbody>
</table>
{% endblock %}
